<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExceptionsFile" value="ExceptionsCourseTask7.txt"/>
    <add key="Output" value="File"/>
    <add key="Columns" value ="5"/>
    <add key="ExcelFilePath" value="Text.xlsx"/>
    <add key="Rows" value="1000"/>
    <add key="FilePath" value="UniqueItems.txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>