<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExceptionsFile" value="ExceptionsCourseTask8.txt"/>
    <add key="Output" value="Console"/>
    <!-- 
    <add key="FilePath" value="Result.txt"/>
    <add key="SourceFile" value="Expression.txt"/>
     -->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>