<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExceptionsFile" value="ExceptionsCourseTask10.txt"/>
    <add key="Output" value="Console"/>
    <add key="Rows" value="10000"/>
    <add key="Columns" value="10000"/>
    <add key="ThreadsCount" value="4"/>
    <!-- 
     -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>