<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExceptionsFile" value="ExceptionsCourseTask9.txt"/>
    <add key="Output" value="File"/>
    <add key="FilePath" value="fileNames.txt"/>
    <add key="SourceFile1" value="C:\Users\vova1\Videos\Desktop\Course\CourseWork\CoursesTask1\CoursesTask3"/>
    <add key="SourceFile2" value="C:\Users\vova1\Videos\Desktop\Course\CourseWork\CoursesTask1\CoursesTask5"/>
    <!-- 
     -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>